<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="firstName">First name</label>
          <input
            type="text"
            id="firstName"
            formControlName="firstName"
            class="form-control">
          <span *ngIf="!registerForm.get('firstName').valid && registerForm.get('firstName').touched"
                class="help-block" style="color: red">
            <span *ngIf="registerForm.get('firstName').errors['required']">
                This field is required</span>
            <span *ngIf="registerForm.get('firstName').errors['firstNameInvalid']">
                First name is invalid</span>
          </span>
        </div>

        <div class="form-group">
          <label for="lastName">Last name</label>
          <input
            type="text"
            id="lastName"
            formControlName="lastName"
            class="form-control">
          <span *ngIf="!registerForm.get('lastName').valid && registerForm.get('lastName').touched"
                class="help-block" style="color: red">
            <span *ngIf="registerForm.get('lastName').errors['required']">
                This field is required</span>
            <span *ngIf="registerForm.get('lastName').errors['lastNameInvalid']">
                Last name is invalid</span>
          </span>
        </div>

        <div class="form-group" *ngIf="!editMode || (editMode && role=='user')">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            formControlName="username"
            class="form-control">

          <span *ngIf="!registerForm.get('username').valid && registerForm.get('username').touched"
                class="help-block" style="color: red">
            <span *ngIf="registerForm.get('username').errors['required']">
                This field is required</span>
            <span *ngIf="registerForm.get('username').errors['usernameMustBeUnique']">
                Username must be unique</span>
          </span>
        </div>

        <div class="form-group" *ngIf="!editMode || (editMode && role=='user')">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            class="form-control">

          <span *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched"
                class="help-block" style="color: red">
            <span *ngIf="registerForm.get('email').errors['required']">
                This field is required</span>
            <span *ngIf="registerForm.get('email').errors['emailInvalid']">
                Username Invalid</span>
          </span>
        </div>

        <div class="form-group" *ngIf="!editMode || (editMode && role=='user')">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control">

          <span *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched"
                class="help-block" style="color: red">
            <span *ngIf="registerForm.get('password').errors['required']">
                This field is required</span>
            <span *ngIf="registerForm.get('password').errors['passwordInvalid']">
                Password Invalid</span>
          </span>
        </div>

        <div class="form-group" *ngIf="!editMode || (editMode && role=='admin')">
          <label for="userTypeId">User Type</label>
          <select
            id="userTypeId"
            formControlName="userTypeId"
            class="form-control">
            <option class="form-control" *ngFor="let userTypeEl of userTypes; let i=index" [ngValue]="userTypeEl">{{userTypeEl.name}}</option>
          </select>
        </div>

        <div class="form-group" *ngIf="!editMode || (editMode && role=='admin')">
          <label for="userGroupId">Group</label>
          <select
            id="userGroupId"
            formControlName="userGroupId"
            class="form-control">
            <option class="form-control" *ngFor="let userGroupEl of userGroups; let i=index" [ngValue]="userGroupEl">{{userGroupEl.name}}</option>
          </select>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid">{{editMode ?  'Update' : 'Add'}}</button>
      </form>
    </div>
  </div>
</div>
