<div class="row">
  <div class="col-xs-12">
    <h1>{{user.firstName + ' ' + user.lastName}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>{{'Username: ' + user.username}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>{{'Group: ' + userGroup}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>{{'Type: ' + userType}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>{{'DeviceId: ' + user.deviceId}}</h2>
  </div>
</div>
<div class="row">
  <div class="pull-right" style="padding: 5px; padding-right: 15px">
    <button type="button" class="btn btn-primary" (click)="onTrips()">Trips</button>
  </div>
</div>
