<a style="cursor: pointer"
   class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{trip.naziv}}</h4>
    <p class="list-group-item-text">{{'Start time : ' + trip.start_time}}</p>
    <p class="list-group-item-text">{{'End time : ' + trip.end_time}}</p>
  </div>
  <div class="pull-right">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="list-group-item-text">{{'Distance : ' + trip.distance}}</h4>
      </div>
    </div>
  </div>
</a>
